#icon-erreur {
    background-image: url("../images/png/64x64/warning.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 92px;
}
#h-erreur h3 {
    margin: 0;
    line-height: 92px;
}
.ellipsis {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
header, section {
    overflow: auto;
}
section {
    margin-top: 60px;
}

ul li {
    font-size: 1.5em;
}