{% extends 'PMWorkspaceBundle:Status:layout.html.twig' %}
{% block title %}
    Liste des statuts
{% endblock %}

{% block statusContent %}
    {% if status|length > 0 %}
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Statut associé</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for s in status %}
                    <tr>
                        <td>{{ s.action }}</td>
                        <td>{{ s.name }} {% if s.defaultValue %}<em>(Par défaut)</em>{% endif %}</td>
                        <td>
                            <a href="{{ path('pm_status_edit', {'id': s.id})}}" class="btn btn-default btn-xs">Modifier</a>
                            <a href="{{ path('pm_status_delete', {'id': s.id})}}" class="btn btn-danger btn-xs">Supprimer</a>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">Il n'y a aucun statut.</div> 
    {% endif %}
{% endblock %}